
html{ }

body{
    margin:0;
    padding:0;
    font-size:14px;
    font-family: sans-serif;
    color:#111111;
    /*color: #FF0F66;*/
}

ul{
    padding:0;
    list-style:none;
}
.marginLeft15 {
    margin-left: 15px;
}
.table td svg {
    cursor: pointer;
    margin: 0 5px;
    font-size: 16px;    
    color: #3a5cda;    

}
.table td svg.fa-trash-alt {
    color: #da3a3a;    
}
.page-link:focus{
    box-shadow: none;
}
